body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color:#1d1a2e ;
}
.score{
        
        color:#fff;
        text-align: center;
        margin-top: 80px;
        font-size: larger;
}

.choose{
    text-align: center;
    color:#fff;
  
    
}

.image{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 250px;
   
}

.user img ,
.comp img{
        width: 80%;
}
.shakecomp{
    animation: movecomp 0.8s linear;
}
.shakeuser{
animation: moveuser 0.8s linear;
}



.user-point{
    margin-left:30px;
}
.computer-point{
    margin-right:30px;
}

.option{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

}
.option button{
    background: none;
    color: #fff;
    border: 1px solid #fff ;
    padding: 20px 40px;
    border-radius: 5px;
    width: 150px;
    white-space: nowrap;
    cursor: pointer;
    outline:none;
    transition:  0.2s all linear;
}

.option button:hover{
        background-color:#6c6b76;
        border: 1px solid #6c6b76;
}

@keyframes movecomp { 
    0%{
        transform: rotate(30deg);
    }
    25%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(30deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }

}
@keyframes moveuser {
    0%{
        transform: rotate(-30deg);
    }
    25%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(-30deg);
    }
    75%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0deg);
    }

}


.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position:absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;

}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);

}
.popup h2{
    font-size:38px ;
    font-weight: 500;
    margin: 30px 0 10px;

}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 4px;
    cursor:pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
